Package: chin2
Version: 1.0
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.5)
Maintainer: Torsten Curdt
Description: jetty java servlet container
Distribution: development
Depends: default-jre | java6-runtime